@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #6596e4;
}

header {
    height: 11.2vh;
    background-color: var(--main-bg-color);
    /* border: 2px solid red; */
    font-family: 'Lato', sans-serif;
}

nav {
    display: flex;

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 154px;
    padding: 0px 33px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

nav ul li {
    list-style: none;
    padding: 24px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;
    font-size: 1.11rem;

}
.search{
   display: flex;
   height: 59px;
   align-items: center;
}
.search input{
    width:  30vw;
    height: 30px;
    margin:0px  33px;
    border-radius: 4px;
    padding: 0px 13px;
}
.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 650;
}
.slider{
  display: flex;
  justify-content: center;
  overflow: hidden;
    
}
.slider img{
    margin: 20px auto;
    width: 75vw;
  /* visibility: hidden; */
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 87vw;
}
.card{
    background-color:aliceblue;
    max-width: 87vw;
    margin: auto;
    
}
.card-item{
    display: inline-flex;

    width: 10vw;
    justify-content: center;
    flex-direction: column;
}
.line:hover{
    cursor: pointer;
text-decoration:underline;
font-size: 1.22rem;
}
.ori{
    display: flex;
    flex-direction: row;
}
.card h2{
    font-family: 'Lato', sans-serif;
   
}
.container {
    min-height:calc(100vh-11.2vh-12vh);
}


footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    
}