.flex-all-center{
    text-align: center;
}
.btn{
    padding: 5px 25px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid #e7ebf1;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
   transition: font-size 3s ease-in;
}
.btn:hover{
    border: 4px solid #dde5f1;
    font-weight:bolder ;
}
.My-1{
    margin:5px 0px;
}
.My-2{
    margin:29px 0px;
}
.My-3{
    margin:4px 27px;
}
.Text-center{
    text-align: center;
}